<mat-card class="daily-encouragement">
    <mat-card-header>
        <mat-card-title>Your Daily Encouragement</mat-card-title>
        <mat-card-subtitle>From <span class="cr-text">Chronically Resilient</span></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Don't Give Up!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>READ MORE</button>
    </mat-card-actions>
</mat-card>