<div [ngClass]="_config.isDarkMode ? 'unicorn-dark-theme theme' : 'light-theme theme'">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="toolbar-title"> {{title}} </h1>
      <!-- <mat-slide-toggle [(ngModel)]="dark">Dark Mode</mat-slide-toggle> -->
      <mat-icon *ngIf="dark" (click)="toggleDarkMode()" class="example-icon" aria-hidden="false" aria-label="Dark Mode">
        nights_stay
      </mat-icon>
      <mat-icon *ngIf="!dark" (click)="toggleDarkMode()" class="example-icon" aria-hidden="false" aria-label="Light Mode">
        wb_sunny
      </mat-icon>

      <mat-icon class="example-icon" aria-hidden="false" aria-label="Light Mode">
        settings_applications
      </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <main>
    <div class="inner">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>